<!--
夹带私货
-->
{% extends "management/base.html" %}
{% block title %}登录{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <h2>开发者日志</h2>
                <p style="color: crimson">2024.06.25完成任务！！</p>
                <ul style="font-family: Times New Roman; font-size: 20px">
                    <li>完成第二次迭代测试成功！</li>
                    <li>完成第一次迭代测试成功！</li>
                    <li>完成图书模型构建</li>
                    <li>完成用户模型构建</li>
                    <li>完成需求分析，产品定位</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}